my day list

<!-- <div id="calendar">
  <% _.each(days, function (day) { %>
    <div id="<%= day.get("id") %>">
      <%= day.get("date") %>
      <%= new TD.Views.DayView({ %>
        <%= model: day %>
      <%= }).render().el; %>
    </div>
  <% } %>
</div>

 -->



